#aboutDomain, #aboutSecretKey, #aboutOrderID, #copyLink {
    position: absolute;
    font-size: small;
    padding: 0.5em 0.75em;
    border-radius: 3px 3px;
    z-index: 2;
}

#aboutDomain, #aboutSecretKey, #aboutOrderID {
    width: 20%;
    background: azure;
    border: 1px dashed navy;
}

.about {
    font-size: 0.9em;
    margin: 0 0 0 0.25em;
    border: none !important;
    text-decoration: none !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

body, button, input, .ui-accordion-header, .ui-accordion-content {
    font-family: Open Sans, Arial, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Lucida Grande, sans-serif !important;
}

button {
    border: 1px solid #292929;
    border-radius: 4px 4px;
    padding: 0.5em 0.5em;
    margin: 0.25em 0;
    background: #2BA1CD;
    color: #292929;
}

.content {
    padding: 0 2em 2em 2em;
    background: #fff;
    color: #292929;
}

#copy {
    width: 7%;
    min-width: 27px;
    border-radius: 0 4px 4px 0 !important;
    border: none !important;
    margin: 0 !important;
    float: right;
    padding: 0.5em 0 !important;
}

#copyLink {
    background: #fff;
    color: #778899;
    border: 1px solid #292929;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    margin: 1em 0;
}

#dataFile {
    padding: 0 0 1em !important;
}

.error {
    color: red;
    font-size: 0.9em;
}

.footer {
    padding: 1em 0;
    font-size: 0.9em;
}

.header, .footer {
    background: #2BA1CD;
    width: 100%;
    color: #fff;
}

.header {
    height: 5px;
}

input, #link {
    width: 70%;
}

input {
    padding: 0.5em 0.5em;
}

    input.item, #link {
        border: 1px solid #292929;
        border-radius: 4px 4px 4px;
    }

.item {
    margin: 0 auto;
}

.label {
    width: 30%;
    padding: 0 1em 0 0;
}

.logo {
    background: #fff;
    padding: 1em 2em;
}

#logo {
    width: 20%;
    min-width: 300px;
}

#uniqueLink {
    border: none !important;
    padding: 0.5em 0 0.5em 0.5em !important;
    width: 90%;
}

a:link, a:-webkit-any-link {
    color: #292929 !important;
    /*text-decoration: none !important;*/
}

a:hover {
    color: #dcdcdc !important;
    text-decoration: none !important;
}



@media only screen and (max-width:770px) {
    #aboutDomain, #aboutSecretKey, #aboutOrderID {
        width: 25%;
    }

    body {
        font-size: x-small;
    }

    button {
        width: 32%;
    }

    #logo {
        width: 70%;
    }

    #uniqueLink {
        width: 70%;
    }
}
