#aboutDomain, #aboutSecretKey, #copyLink {
    position: absolute;
    font-size: small;
    padding: 0.5em 0.75em;        
    border-radius: 3px 3px;
    z-index: 2;
}

#aboutDomain, #aboutSecretKey {
    width: 20%;
    background: azure;
    border: 1px dashed navy;
}

.about {
    font-size: 0.9em;
    margin: 0 0 0 0.25em;
}

body {
    font-family: Verdana,Arial,sans-serif;
    padding: 2em 2em;
    background: #fffff0;
    color: #292929;
}

button {
    border: 1px solid #292929;
    border-radius: 4px 4px;
    padding: 0.5em 0.5em;
    margin: 0.25em 0;
    background: #292929;
    color: #FEAC00;
}

#copy {
    width: 4%;
    min-width: 35px;
    border-radius: 0 4px 4px 0 !important;
    margin: 0 !important;
}

#copyLink {
    background: #fffff0;
    color: #778899;
    border: 1px solid #292929;
}

.container {
    display: flex;
    flex-direction: row;
    width: 99.99%;
    align-items: flex-start;
    align-content: center;
    margin: 1em 0;
}

#dataFile {
    padding: 0 0 1em !important;
}

.error {
    color: red;
    font-size: 0.9em;
}

input {
    width: 70%;
    padding: 0.5em 0.5em;
}

input.item {
    border: 1px solid #292929;
    border-radius: 4px 4px 4px;
}

.item {
    margin: 0 auto;
}

.label {
    width: 30%;
    padding: 0 1em 0 0;
}

#uniqueLink {
    width: 66% !important;
    border-radius: 4px 0 0 4px !important;
}