<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/ico" href="https://www.totallymoney.com/credit-cards/public/favicon.ico">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/TestForm.js"></script>
</head>
<body>
    <div class="header"></div>
    <div class="logo">
        <a href="https://www.totallymoney.com"><img src="https://s3-eu-west-1.amazonaws.com/tm-header/images/TotallyMoney_SVG.svg" alt="Totally Money" id="logo"></a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="item footerLink">
                <a href="https://www.trustpilot.com/">Trustpilot</a> unique link generator&nbsp; &middot; &nbsp;Copyright &copy; 2015 <a href="https://www.totallymoney.com">TotallyMoney.com</a>&nbsp; &middot; &nbsp;This software is distributed under <a href="https://opensource.org/licenses/MIT">The MIT License (MIT)</a>&nbsp; &middot; &nbsp; <a href="https://github.com/mediaingenuity/TrustPilotLinks"><i class="fa fa-github"></i></a> <a href="https://github.com/mediaingenuity/TrustPilotLinks">Get the code</a></div>
        </div>
    </div>
</body>
</html>
