@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request. If you are trying to upload a data file, please make sure it is a .csv file no larger than 4MB.</h2>
    </hgroup>
</body>
</html>
